@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

@import url("login.css");

body,
html {
  height: 100%;
  font-family: 'Poppins', sans-serif;
  overflow-x: hidden;
}

/* Header */
.header .menu-toggle {
  z-index: 999;
}

/* Sidebar */

.sidebar {
  top: 0;
  left: -100%;
  background-color: #722D92;
  width: 80px;
  overflow: hidden;
  z-index: 99;
  white-space: nowrap;
  transition: .5s ease-in-out;
}

.sidebar .sidemenu .navbar-nav {
  height: 100%;
}

.sidebar .sidemenu .navbar-nav .menu-nav .nav-item:hover,
.sidebar .sidemenu .navbar-nav .profile .nav-item:hover {
  background-color: #FBFAFF;
  border-radius: 6px;
}

.sidebar .sidemenu .navbar-nav .menu-nav .nav-item,
.sidebar .sidemenu .navbar-nav .profile .nav-item {
  cursor: pointer;
}

.sidebar .sidemenu .navbar-nav .menu-nav .nav-item .nav-link,
.sidebar .sidemenu .navbar-nav .profile .nav-item .nav-link {
  color: #FFFFFF;
}

.sidebar .sidemenu .navbar-nav .menu-nav .nav-item .nav-link .nav-icon,
.sidebar .sidemenu .navbar-nav .profile .nav-item .nav-link .nav-icon {
  width: 24px;
  height: 24px;
  color: #FFFFFF;
  stroke-width: 2.7;
}

.sidebar .sidemenu .navbar-nav .menu-nav .nav-item:hover .nav-icon,
.sidebar .sidemenu .navbar-nav .menu-nav .nav-item:hover .nav-link,
.sidebar .sidemenu .navbar-nav .profile .nav-item:hover .nav-icon,
.sidebar .sidemenu .navbar-nav .profile .nav-item:hover .nav-link {
  color: #70119C;
}

/* SUBMENU  */
.sidebar .sidemenu .navbar-nav .menu-nav .nav-item .submenu .nav-item {
  padding-left: 60px;
  font-size: 14px;
}

.sidebar .sidemenu .navbar-nav .menu-nav .nav-item .submenu .nav-item:hover {
  text-shadow: 0px 4px 4px rgba(0, 0, 0, .25);
}

.sidebar .sidemenu .navbar-nav .menu-nav .nav-item.nav-dropdown {
  overflow: hidden;
  max-height: 50px;
  transition: .5s ease-in-out;
}

/* Show dropdown collapse */
.sidebar .sidemenu .navbar-nav .menu-nav .nav-item.nav-dropdown:hover {
  max-height: 100rem;
}

/* Rotate icon arrow */
.sidebar .sidemenu .navbar-nav .menu-nav .nav-item.nav-dropdown:hover .nav-dropdown-icon {
  transform: rotate(180deg);
}

/*===== Show menu =====*/
.show-menu {
  left: 0;
  width: 100%;
}

.btn-white {
  color: #FFFFFF;
}


/* Main */

/* Dashboard title */
.dashboard-header .dashboard-title {
  color: #70119C;
}

.dashboard-header .calendar {
  background-color: #FBFAFF;
  border-color: #BBAACC;
}

.dashboard-header .calendar .calendar-icon {
  width: 20px;
  color: #7E7E7E;
  stroke-width: 1;
}

.dashboard-header .calendar input[type="date"] {
  background: transparent;
  font-size: 14px;
}


.dashboard-header .calendar input[type="date"]:focus {
  box-shadow: 0 0 0 0;
  border: 0 none;
  outline: 0;
}

.dashboard-header .add-clients {
  background-color: #70119C;
}

.dashboard-header .add-clients .add-icon {
  color: #fff;
}

.dashboard-header .add-clients button {
  background: transparent;
  color: #fff;
}

.dashboard-header .add-clients button:focus {
  box-shadow: 0 0 0 0;
  border: 0 none;
  outline: 0;
}

input[type="date"]::-webkit-calendar-picker-indicator {
  color: #7E7E7E;
  opacity: .6;
  display: block;
  width: 20px;
  height: 20px;
  border-width: thin;
  cursor: pointer;
}

/* modal */

.modal-content {
  background: #FBFAFF;
}

.modal-content .btn {
  width: 10.5rem;
  height: 2.375rem;
  border-radius: 0.625rem;
  border: 0.5px solid #BAC;
}

.modal-content .btn-modal-cancel {
  background: #FFF;
}

.modal-content .btn-modal-save {
  background: #722D92;
  color: #fff;
}

/* visits */
.rank-info-position,
.rank-info-title {
  font-size: 16px;
}

/* Card Connections */
.card-container {
  background: #FBFAFF;
  box-shadow: 0px 2px 8px 0px rgba(91, 116, 134, 0.25);
  color: #383737;
}

.card-connections-container p {
  color: #646464;
}

.card-connections-container p .icon-card {
  width: 20px
}

.card-connections-container h3 {
  color: #5A2357;
}

.card-connections-container h3::after {
  content: '';
  display: none;
  width: 60px;
  height: 3px;
  border-radius: 15px;
  background-color: #5A2357;
}

/* Card Log */
.log-content .log-item {
  background-color: #F2F2F7;
  font-size: 14px;
}

.log-content .log-item .log-icon {
  width: 18px;
}

.log-content .log-item .log-icon.atention {
  color: #FF0000;
}

.log-content .log-item .log-icon.check {
  color: #00AC4F;
}

/* Charts */
.chart-item {
  height: 360px;
}

.chart-legend-item:first-child::before {
  content: '';
  display: block;
  width: 16px;
  height: 16px;
  background-color: #D1D1F9;
  border-radius: 6px;
  margin-right: 6px;
}

.chart-legend-item:last-child::before {
  content: '';
  display: block;
  width: 16px;
  height: 16px;
  background-color: #5A2357;
  ;
  border-radius: 6px;
  margin-right: 6px;
}

/* SCROOL */

::-webkit-scrollbar-track {
  background-color: #F4F4F4;
}

::-webkit-scrollbar {
  width: 6px;
  background: #F4F4F4;
}

::-webkit-scrollbar-thumb {
  background: #dad7d7;
}

@media only screen and (max-width: 1200px) {
  .chart-legend-item {
    font-size: 14px;
  }
}

@media only screen and (max-width: 766px) {
  .main {
    margin-left: 0;
  }

  .connections-area .card-container {
    background: none;
    box-shadow: none;
  }

  .card-connections-container h3 {
    border-left: 2px solid #5A2357;
    padding-left: 10px;
  }

  .log-content .log-item {
    background-color: #F2F2F7;
    font-size: 12px;
  }

  .log-content .log-item .log-icon {
    width: 16px;
  }
}

@media screen and (min-width: 768px) {
  .content {
    padding: 1rem 0 0 6rem;
  }

  .sidebar {
    left: 0;
    width: 85px;
    /* Reduced navbar */
    background-color: #F3F3FB;
  }

  .sidebar .sidemenu .navbar-nav .menu-nav .nav-item .nav-link,
  .sidebar .sidemenu .navbar-nav .profile .nav-item .nav-link {
    color: #828282;
  }

  .sidebar .sidemenu .navbar-nav .menu-nav .nav-item .nav-link .nav-icon,
  .sidebar .sidemenu .navbar-nav .profile .nav-item .nav-link .nav-icon {
    color: #828282;
  }

  .sidebar .sidemenu .navbar-nav .menu-nav .nav-item:hover .nav-icon,
  .sidebar .sidemenu .navbar-nav .menu-nav .nav-item:hover .nav-link,
  .sidebar .sidemenu .navbar-nav .profile .nav-item:hover .nav-icon,
  .sidebar .sidemenu .navbar-nav .profile .nav-item:hover .nav-link {
    color: #70119C;
  }

  /* Element opacity */
  .nav-link__title,
  .nav__dropdown-icon {
    opacity: 0;
    transition: .3s;
  }

  /* Navbar expanded */
  .sidebar:hover {
    width: 300px;
  }

  /* Visible elements */
  .sidebar:hover .nav-link__title {
    opacity: 1;
  }

  .sidebar:hover .nav__dropdown-icon {
    opacity: 1;
  }

  .card-item {
    height: 360px;
  }

  .chart-item {
    height: 90%;
  }
}

/* Modal validations */
.span-required {
  display: none;
  font-size: 12px;
  margin: 3px 0 0 1px;
  color: red;
}

.btn-error {
  border: 2px solid red;
}

.error {
  display: block;
}

/* Loader */

.loader {
  width: 90px;
  height: 90px;
  border-radius: 50%;
  animation: rotation 1.2s linear infinite;
}

.loader.loader-card {
  width: 25px;
  height: 25px;
}

.loader::before,
.loader::after {
  content: '';
  position: absolute;
  border-radius: inherit;
}

.loader::before {
  width: 100%;
  height: 100%;
  background-image: linear-gradient(0deg, #c380e2 0%, #722D92 100%);
}

.loader::after {
  width: 85%;
  height: 85%;
  background-color: #FBFAFF;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@keyframes rotation {
  to {
    transform: rotate(360deg);
  }
}

/* teste alertas */

.alerts {
  box-shadow: 0 5px 10px rgba(0, 0, 0, .1);
  bottom: 25px;
  right: 30px;
  border-left: 6px solid #00AD54;
  overflow: hidden;
  transform: translateX(calc(100% + 30px));
  transition: all .5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.alerts.active {
  transform: translateX(0%);
}

.alerts .alerts-content .message .message-text {
  color: #383737;
}

.alerts .close-alert {
  cursor: pointer;
  opacity: .7;
}

.alerts .close:hover {
  opacity: 1;
}

.alerts .progress {
  left: 0;
  height: 3px;
  background: #ddd;
}

.alerts .progress::before {
  content: '';
  position: absolute;
  bottom: 0;
  right: 0;
  height: 100%;
  width: 100%;
  background-color: #00AD54;
}

.progress.active::before {
animation: progress 5s linear forwards;
}

@keyframes progress {
  100% {
    right: 100%;
  }
}

.alert-success {
  border-bottom-color:#00AD54;
}

.alerts .alert-icon.icon-success {
  color: #00AD54;
}

.alert-error {
  border-bottom-color:#FA3F2B;
}

.alerts .alert-icon.icon-error {
  color: #FA3F2B;
}

.alert-information {
  border-bottom-color:#0372FB;
}

.alerts .alert-icon.icon-information {
  color: #0372FB;
}

.alert-warning {
  border-bottom-color:#EC8701;
}

.alerts .alert-icon.icon-warning {
  color: #EC8701;
}


/* Tela de clientes */

.search-client-container {
  background-color: #FBFAFA;
}

.search-status select,
.search-create-date .search-create-date-content,
.search-tags select,
.search-input .search-input-select,
.search-input .search-input-input,
.export-sheet {
  border: 1px solid #BBAACC;
  box-shadow: 0px 2px 8px 0px #5B748640;
  font-size: 14px;  
}

.search-input .search-input-select {
  padding: 4px;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
}



.search-input .search-input-select .icon {
  color: #383737;
  width: 20px;
  height: 20px;
}

.search-input .search-input-input {
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  padding: 3.5px 12px; 
}

.search-input .search-input-input .icon,
.search-create-date-content .icon,
.export-sheet .icon {
  color: #383737;
  width: 20px;
  height: 20px;
}

.search-status select,
.search-create-date .search-create-date-content,
.search-tags select,
.export-sheet {   
  border-radius: 8px;
  padding: 4px 14px 4px 14px;
}

.search-status select:focus-visible,
.search-input select:focus-visible,
.search-input input:focus-visible,
.export-sheet select:focus-visible,
.search-tags select:focus-visible,
.search-create-date-content select:focus-visible {
  outline: none;
}

.search-input label,
.search-status label,
.search-create-date label {
  color: #828282;
  font-size: 12px;
  font-weight: normal;
}

.search-client .add-clients {
  background-color: #70119C;
}

.search-client .add-clients .add-icon {
  color: #fff;
  width: 18px;
  height: 18px;
}

.search-client .add-clients button {
  background: transparent;
  color: #fff;
  font-size: 14px;
  
}

.search-client .add-clients button:focus {
  box-shadow: 0 0 0 0;
  border: 0 none;
  outline: 0;
}

/* teste */

thead tr th {
  color: #AFAFAF;
  font-weight: normal;
  font-size: 14px;
}

thead tr th div .icon {
  transform: rotate(90deg);
  width: 16px;
  height: 16px;
  margin-left: 3px;
}

.tag {
    border-radius: 2rem;
    text-align: center;
}

.tag.premium {
    border: 1px solid #35B2FD;
    background-color: #E6F0F6;
}

.tag.vip {
  border: 1px solid #FF80D7;
  background-color: #FAE7F4;
}

.tag.atypcal {
  border: 1px solid #FFA16C;
  background-color: #FAF1EC;
}

.tag.common,
.tag.online {
  border: 1px solid #3DC267;
  background-color: #E8F8ED;
}

.tag.offline {
  border: 1px solid #B3B3B3;
  background-color: #F1F1F1;
}
.tag.banned {
  border: 1px solid #eb8d91;
  background-color: #FCE9EA;
}

@media (max-width: 1000px) {
    td:not(:first-of-type) {
        min-width: 12.1rem;
    }
}

tbody tr td {
  border: none;
}

tbody tr td .icon-more {
  cursor: pointer;
}

 

.see-more {
  width: 120px;
}


.export__file {
    position: relative;
}

.export__file .export__file-btn {
    display: inline-block;
    width: 2rem;
    height: 2rem;
    background: #fff6 url(images/export.png) center / 80% no-repeat;
    border-radius: 50%;
    transition: .2s ease-in-out;
}

.export__file .export__file-btn:hover { 
    background-color: #fff;
    transform: scale(1.15);
    cursor: pointer;
}

.export__file input {
    display: none;
}

.export__file .export__file-options {
    position: absolute;
    right: 0;
    
    width: 12rem;
    border-radius: .5rem;
    overflow: hidden;
    text-align: center;

    opacity: 0;
    transform: scale(.8);
    transform-origin: top right;
    
    box-shadow: 0 .2rem .5rem #0004;
    
    transition: .2s;
}

.export__file input:checked + .export__file-options {
    opacity: 1;
    transform: scale(1);
    z-index: 100;
}

.export__file .export__file-options label{
    display: block;
    width: 100%;
    padding: .6rem 0;
    background-color: #f2f2f2;
    
    display: flex;
    justify-content: space-around;
    align-items: center;

    transition: .2s ease-in-out;
}

.export__file .export__file-options label:first-of-type{
    padding: 1rem 0;
    background-color: #86e49d !important;
}

.export__file .export__file-options label:hover{
    transform: scale(1.05);
    background-color: #fff;
    cursor: pointer;
}

.export__file .export__file-options img{
    width: 2rem;
    height: auto;
}

/* Pagination */

#paginate .controls div{
  font-size: 18px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

#paginate .controls div:not(.numbers),
#paginate .controls div.numbers div{
  width: 40px;
  height: 40px;
}

#paginate .controls div.numbers div:hover,
#paginate .controls div.numbers div.active {
  background-color: #F3F3FB;
  border-radius: 50%;
}

/* Modal */

/*******************************
* MODAL AS LEFT/RIGHT SIDEBAR
* Add "left" or "right" in modal parent div, after class="modal".
* Get free snippets on bootpen.com
*******************************/

  .modal-dialog {
    height: 100vh;
    margin-right: 0 !important;
    margin-top: 0 !important;
  }
