@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

@import url("login.css");

body, html {
  height: 100%;
  font-family: 'Poppins', sans-serif;
}

/* Header */
.header .menu-toggle {
  z-index: 999;
}

/* Sidebar */

.sidebar {
  top: 0;
  left: -100%;
  background-color: #722D92;
  width: 80px;
  overflow: hidden; 
  z-index: 99;
  white-space: nowrap;  
  transition: .5s ease-in-out;
}

.sidebar .sidemenu .navbar-nav {
  height: 100%;
}

.sidebar .sidemenu .navbar-nav .menu-nav .nav-item:hover,
.sidebar .sidemenu .navbar-nav .profile .nav-item:hover {
  background-color: #FBFAFF;
  border-radius: 6px;
}

.sidebar .sidemenu .navbar-nav .menu-nav .nav-item,
.sidebar .sidemenu .navbar-nav .profile .nav-item  {
  cursor: pointer;
}

.sidebar .sidemenu .navbar-nav .menu-nav .nav-item .nav-link,
.sidebar .sidemenu .navbar-nav .profile .nav-item .nav-link{ 
  color: #FFFFFF;
}

.sidebar .sidemenu .navbar-nav .menu-nav .nav-item .nav-link .nav-icon,
.sidebar .sidemenu .navbar-nav .profile .nav-item .nav-link .nav-icon {
  width: 24px;
  height: 24px;
  color: #FFFFFF;
  stroke-width: 2.7;
}

.sidebar .sidemenu .navbar-nav .menu-nav .nav-item:hover .nav-icon,
.sidebar .sidemenu .navbar-nav .menu-nav .nav-item:hover .nav-link,
.sidebar .sidemenu .navbar-nav .profile .nav-item:hover .nav-icon,
.sidebar .sidemenu .navbar-nav .profile .nav-item:hover .nav-link {
  color: #70119C;
} 

/* SUBMENU  */
.sidebar .sidemenu .navbar-nav .menu-nav .nav-item .submenu .nav-item {
  padding-left: 60px;
  font-size: 14px;
}

.sidebar .sidemenu .navbar-nav .menu-nav .nav-item .submenu .nav-item:hover {
  text-shadow: 0px 4px 4px rgba(0, 0, 0, .25);
}

.sidebar .sidemenu .navbar-nav .menu-nav .nav-item.nav-dropdown {
  overflow: hidden;
  max-height: 50px;
  transition: .5s ease-in-out;
}

/* Show dropdown collapse */
.sidebar .sidemenu .navbar-nav .menu-nav .nav-item.nav-dropdown:hover {
  max-height: 100rem;  
}

/* Rotate icon arrow */
.sidebar .sidemenu .navbar-nav .menu-nav .nav-item.nav-dropdown:hover .nav-dropdown-icon {
  transform: rotate(180deg);
}

/*===== Show menu =====*/
.show-menu {
  left: 0;
  width: 100%;
}

.btn-white {
  color: #FFFFFF;
}


/* Main */

/* Dashboard title */
.dashboard-header .dashboard-title {
  color: #70119C;
}

.dashboard-header .calendar {
  background-color: #FBFAFF;
  border-color: #BBAACC;
}

.dashboard-header .calendar .calendar-icon {
  width: 20px;
  color: #7E7E7E;
  stroke-width: 1;
}

.dashboard-header .calendar input[type="date"] {
  background: transparent;
  font-size: 14px;
}


.dashboard-header .calendar input[type="date"]:focus {
  box-shadow: 0 0 0 0;
  border: 0 none;
  outline: 0;
}

.dashboard-header .add-clients {
  background-color: #70119C;  
}

.dashboard-header .add-clients .add-icon {
  color: #fff;
}

.dashboard-header .add-clients button {
  background: transparent;
  color: #fff;
}

.dashboard-header .add-clients button:focus {
  box-shadow: 0 0 0 0;
  border: 0 none;
  outline: 0;
}

input[type="date"]::-webkit-calendar-picker-indicator {
  color: #7E7E7E;
  opacity: .6;
  display: block;
  width: 20px;
  height: 20px;
  border-width: thin;
  cursor:  pointer;
}

/* modal */

.modal-content {
  background: #FBFAFF;
}

.modal-content .btn{
  width: 10.5rem;
  height: 2.375rem;
  border-radius: 0.625rem;
  border: 0.5px solid #BAC;
}

.modal-content .btn-modal-cancel {  
  background: #FFF;
}

.modal-content .btn-modal-save {
  background: #722D92;
  color: #fff;
}

/* visits */
.rank-info-position,
.rank-info-title {
  font-size: 16px;
}

/* Card Connections */
.card-container {
  background: #FBFAFF;
  box-shadow: 0px 2px 8px 0px rgba(91, 116, 134, 0.25);
  color: #383737;
}

.card-connections-container p {
  color: #646464;
}

.card-connections-container p .icon-card {
  width: 20px
}

.card-connections-container h3 {
  color: #5A2357;
}

.card-connections-container h3::after {
  content: '';
  display: none;
  width: 60px;
  height: 3px;
  border-radius: 15px;
  background-color: #5A2357;
}

/* Card Log */
.log-content .log-item {
  background-color: #F2F2F7;
  font-size: 14px;
}

.log-content .log-item .log-icon {
  width: 18px;
}

.log-content .log-item .log-icon.atention {
  color: #FF0000;
}

.log-content .log-item .log-icon.check {
  color: #00AC4F;
}

/* Charts */
.chart-item {
  height: 360px;
}

.chart-legend-item:first-child::before {
  content: '';
  display: block;
  width: 16px;
  height: 16px;
  background-color: #D1D1F9;
  border-radius: 6px;
  margin-right: 6px;
}

.chart-legend-item:last-child::before {
  content: '';
  display: block;
  width: 16px;
  height: 16px;
  background-color: #5A2357;  ;
  border-radius: 6px;
  margin-right: 6px;
}

/* SCROOL */

::-webkit-scrollbar-track {
  background-color: #F4F4F4;
}
::-webkit-scrollbar {
  width: 6px;
  background: #F4F4F4;
}
::-webkit-scrollbar-thumb {
  background: #dad7d7;
}

@media only screen and (max-width: 1200px) {
  .chart-legend-item {
    font-size: 14px;
  }
}

@media only screen and (max-width: 766px) {
  .main {
    margin-left: 0;
  }

  .connections-area .card-container {
    background: none;
    box-shadow: none;
  }

  .card-connections-container h3 {
    border-left: 2px solid #5A2357;
    padding-left: 10px;
  }

  .log-content .log-item {
    background-color: #F2F2F7;
    font-size: 12px;
  }

  .log-content .log-item .log-icon {
    width: 16px;
  }  
}

@media screen and (min-width: 768px) {
  .content {
    padding: 1rem 0 0 6rem;
  }

  .sidebar {
    left: 0;
    width: 85px; /* Reduced navbar */    
    background-color: #F3F3FB;
  }

  .sidebar .sidemenu .navbar-nav .menu-nav .nav-item .nav-link,
  .sidebar .sidemenu .navbar-nav .profile .nav-item .nav-link{ 
  color: #828282;
}

  .sidebar .sidemenu .navbar-nav .menu-nav .nav-item .nav-link .nav-icon,
  .sidebar .sidemenu .navbar-nav .profile .nav-item .nav-link .nav-icon {
  color: #828282;
}

.sidebar .sidemenu .navbar-nav .menu-nav .nav-item:hover .nav-icon,
.sidebar .sidemenu .navbar-nav .menu-nav .nav-item:hover .nav-link,
.sidebar .sidemenu .navbar-nav .profile .nav-item:hover .nav-icon,
.sidebar .sidemenu .navbar-nav .profile .nav-item:hover .nav-link {
  color: #70119C;
} 
  
  /* Element opacity */
  .nav-link__title, 
  .nav__dropdown-icon {
    opacity: 0;
    transition: .3s;
  }  
  
  /* Navbar expanded */
  .sidebar:hover {
    width: 300px;
  }
  
  /* Visible elements */
  .sidebar:hover .nav-link__title {
    opacity: 1;
  }

  .sidebar:hover .nav__dropdown-icon {
    opacity: 1;
  }

  .card-item {
    height: 360px;
  }

  .chart-item {
    height: 90%;
  }
}

/* Skeleton teste */

.teste.loading * {
  position: relative;
}

@keyframes loading {
  0% {
    background-position: 0%;
  }

  50% {
    background-position: 100%;
  }

  100% {
    background-position: 0%;
  }
}

.teste.loading *::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  background: linear-gradient(-45deg, #FBFAFF, #a49eaa, #FBFAFF);
  width: 100%;
  height: 100%;
  border-radius: 5px;
  background-size: 400%;
  animation: loading 2s linear infinite;
}